
body
{
    overflow-x: hidden;
}
.cur
{
    height: 90vh;
}
.pr
{
    width: 100%;
}
.lak
{
    padding: 30px;
}
.sam
{
    padding: 30px;
}
.sar
{
    font-size: 40px;
    margin-left: 80%;
}
/* .pha :hover
{
transform: scale(1.1);
} */
/* .mac :hover
{
    transform: scale(1.05);
   
}
.yam :hover
{
    transform: scale(0.9);
   
} */
/* .sri :hover
{
    transform: scale(1.05);
} */

.card:hover{
transform: scale(1.04);

}